@model Form_App.ViewModels.TherapyInfoViewModel.EditTherapyViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>EditTherapyViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Review" class="control-label"></label>
                <input asp-for="Review" class="form-control" />
                <span asp-validation-for="Review" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Disorder" class="control-label"></label>
                <input asp-for="Disorder" class="form-control" />
                <span asp-validation-for="Disorder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RangeOfMotion" class="control-label"></label>
                <input asp-for="RangeOfMotion" class="form-control" />
                <span asp-validation-for="RangeOfMotion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VasScale" class="control-label"></label>
                <input asp-for="VasScale" class="form-control" />
                <span asp-validation-for="VasScale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tests" class="control-label"></label>
                <input asp-for="Tests" class="form-control" />
                <span asp-validation-for="Tests" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Therapy" class="control-label"></label>
                <input asp-for="Therapy" class="form-control" />
                <span asp-validation-for="Therapy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recommendation" class="control-label"></label>
                <input asp-for="Recommendation" class="form-control" />
                <span asp-validation-for="Recommendation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdditionalInfo" class="control-label"></label>
                <input asp-for="AdditionalInfo" class="form-control" />
                <span asp-validation-for="AdditionalInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
